<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>Logo</td><td>GoogleTest.GoogleLogoTest()[pri:2, instance:com.test.GoogleTest@6fffcba5]<br/></td></tr>
<tr><td>Mail</td><td>GoogleTest.mailLinkTest()[pri:3, instance:com.test.GoogleTest@6fffcba5]<br/></td></tr>
<tr><td>Title</td><td>GoogleTest.Title()[pri:1, instance:com.test.GoogleTest@6fffcba5]<br/></td></tr>
</table>
