<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>TestNG Test Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a4ad75">  <td>19/05/05 13:00:22</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AssertTest.setUp()[pri:0, instance:com.test.AssertTest@1ae369b7]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@997110508</td>   <td></td> </tr>
<tr bgcolor="a4ad75">  <td>19/05/05 13:00:31</td>   <td>9144</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AssertTest.Title()[pri:1, instance:com.test.AssertTest@1ae369b7]">Title</td> 
  <td>main@997110508</td>   <td></td> </tr>
<tr bgcolor="a4ad75">  <td>19/05/05 13:00:31</td>   <td>9200</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AssertTest.tearDown()[pri:0, instance:com.test.AssertTest@1ae369b7]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@997110508</td>   <td></td> </tr>
<tr bgcolor="a4ad75">  <td>19/05/05 13:00:34</td>   <td>11544</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AssertTest.setUp()[pri:0, instance:com.test.AssertTest@1ae369b7]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@997110508</td>   <td></td> </tr>
<tr bgcolor="a4ad75">  <td>19/05/05 13:00:42</td>   <td>19343</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AssertTest.GoogleLogoTest()[pri:2, instance:com.test.AssertTest@1ae369b7]">GoogleLogoTest</td> 
  <td>main@997110508</td>   <td></td> </tr>
<tr bgcolor="a4ad75">  <td>19/05/05 13:00:42</td>   <td>19379</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AssertTest.tearDown()[pri:0, instance:com.test.AssertTest@1ae369b7]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@997110508</td>   <td></td> </tr>
<tr bgcolor="80cdac">  <td>19/05/05 13:00:44</td>   <td>21731</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GoogleTest.setUp()[pri:0, instance:com.test.GoogleTest@6fffcba5]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@997110508</td>   <td></td> </tr>
<tr bgcolor="80cdac">  <td>19/05/05 13:00:51</td>   <td>28539</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GoogleTest.Title()[pri:1, instance:com.test.GoogleTest@6fffcba5]">Title</td> 
  <td>main@997110508</td>   <td></td> </tr>
<tr bgcolor="80cdac">  <td>19/05/05 13:00:51</td>   <td>28549</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GoogleTest.tearDown()[pri:0, instance:com.test.GoogleTest@6fffcba5]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@997110508</td>   <td></td> </tr>
<tr bgcolor="80cdac">  <td>19/05/05 13:00:53</td>   <td>30904</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GoogleTest.setUp()[pri:0, instance:com.test.GoogleTest@6fffcba5]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@997110508</td>   <td></td> </tr>
<tr bgcolor="80cdac">  <td>19/05/05 13:01:01</td>   <td>38631</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GoogleTest.GoogleLogoTest()[pri:2, instance:com.test.GoogleTest@6fffcba5]">GoogleLogoTest</td> 
  <td>main@997110508</td>   <td></td> </tr>
<tr bgcolor="80cdac">  <td>19/05/05 13:01:01</td>   <td>38678</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GoogleTest.tearDown()[pri:0, instance:com.test.GoogleTest@6fffcba5]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@997110508</td>   <td></td> </tr>
<tr bgcolor="80cdac">  <td>19/05/05 13:01:03</td>   <td>41025</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GoogleTest.setUp()[pri:0, instance:com.test.GoogleTest@6fffcba5]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@997110508</td>   <td></td> </tr>
<tr bgcolor="80cdac">  <td>19/05/05 13:01:11</td>   <td>48374</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GoogleTest.mailLinkTest()[pri:3, instance:com.test.GoogleTest@6fffcba5]">mailLinkTest</td> 
  <td>main@997110508</td>   <td></td> </tr>
<tr bgcolor="80cdac">  <td>19/05/05 13:01:11</td>   <td>48414</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GoogleTest.tearDown()[pri:0, instance:com.test.GoogleTest@6fffcba5]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@997110508</td>   <td></td> </tr>
<tr bgcolor="7796bb">  <td>19/05/05 13:01:13</td>   <td>50763</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNGFeatures.loginTest()[pri:0, instance:com.test.TestNGFeatures@34340fab]">loginTest</td> 
  <td>main@997110508</td>   <td></td> </tr>
<tr bgcolor="7796bb">  <td>19/05/05 13:01:13</td>   <td>50776</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNGFeatures.registrationTest()[pri:0, instance:com.test.TestNGFeatures@34340fab]">registrationTest</td> 
  <td>main@997110508</td>   <td></td> </tr>
<tr bgcolor="7796bb">  <td>19/05/05 13:01:13</td>   <td>50777</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNGFeatures.searchTest()[pri:0, instance:com.test.TestNGFeatures@34340fab]">searchTest</td> 
  <td>main@997110508</td>   <td></td> </tr>
</table>
