<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ba92bb">  <td>19/06/06 07:15:02</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GoogleTest.setUp()[pri:0, instance:com.test.GoogleTest@34033bd0]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@93122545</td>   <td></td> </tr>
<tr bgcolor="ba92bb">  <td>19/06/06 07:15:42</td>   <td>40500</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GoogleTest.Title()[pri:1, instance:com.test.GoogleTest@34033bd0]">Title</td> 
  <td>main@93122545</td>   <td></td> </tr>
<tr bgcolor="ba92bb">  <td>19/06/06 07:15:42</td>   <td>40544</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GoogleTest.tearDown()[pri:0, instance:com.test.GoogleTest@34033bd0]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@93122545</td>   <td></td> </tr>
<tr bgcolor="ba92bb">  <td>19/06/06 07:15:43</td>   <td>41685</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GoogleTest.setUp()[pri:0, instance:com.test.GoogleTest@34033bd0]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@93122545</td>   <td></td> </tr>
<tr bgcolor="ba92bb">  <td>19/06/06 07:15:54</td>   <td>52523</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GoogleTest.GoogleLogoTest()[pri:2, instance:com.test.GoogleTest@34033bd0]">GoogleLogoTest</td> 
  <td>main@93122545</td>   <td></td> </tr>
<tr bgcolor="ba92bb">  <td>19/06/06 07:15:54</td>   <td>52919</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GoogleTest.tearDown()[pri:0, instance:com.test.GoogleTest@34033bd0]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@93122545</td>   <td></td> </tr>
<tr bgcolor="ba92bb">  <td>19/06/06 07:15:59</td>   <td>57096</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GoogleTest.setUp()[pri:0, instance:com.test.GoogleTest@34033bd0]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@93122545</td>   <td></td> </tr>
<tr bgcolor="ba92bb">  <td>19/06/06 07:16:08</td>   <td>66525</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GoogleTest.mailLinkTest()[pri:3, instance:com.test.GoogleTest@34033bd0]">mailLinkTest</td> 
  <td>main@93122545</td>   <td></td> </tr>
<tr bgcolor="ba92bb">  <td>19/06/06 07:16:08</td>   <td>66684</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GoogleTest.tearDown()[pri:0, instance:com.test.GoogleTest@34033bd0]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@93122545</td>   <td></td> </tr>
</table>
